<ion-header>
  <ion-toolbar>
    <ion-title>Movies</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="8">
        <ion-input [(ngModel)]="query" placeholder="Buscar"></ion-input>
      </ion-col>
      <ion-col size="4">
        <ion-button expand="block" (click)="searchMovie()">Buscar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div *ngIf="movies">
    <ion-card *ngFor="let movie of movies" (click)="openModal(movie)">
      <ion-card-header>
        <ion-card-subtitle>Fecha salida {{ movie.airdate }}</ion-card-subtitle>
        <ion-card-title>{{ movie.name }}</ion-card-title>
      </ion-card-header>
      <ion-card-content [innerHTML]="movie.summary"></ion-card-content>
    </ion-card>
  </div>
	<div *ngIf="moviesSearch">
    <ion-card *ngFor="let movie of moviesSearch" (click)="openModal(movie.show)">
      <ion-card-header>
        <ion-card-subtitle>Fecha salida {{ movie.show.airdate }}</ion-card-subtitle>
        <ion-card-title>{{ movie.show.name }}</ion-card-title>
      </ion-card-header>
      <ion-card-content [innerHTML]="movie.show.summary"></ion-card-content>
    </ion-card>
  </div>
  <div *ngIf="!movies && !moviesSearch">Un momento por favor, cargando peliculas...</div>
</ion-content>
